<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <title></title>
</head>
<body>

    <h1 class="headerOne">Create a new Message</h1>
    <div class="createMessage">
<form action="/create-message" method="POST">
  <div class="titleMessage">
      <input name="title" size="57"  type="text" placeholder="Title"/>
  </div>
  <div>
    <textarea name="message" cols="60" rows="10" placeholder="Message "class="textMessage"></textarea>

</div>
  <button class="btn btn-success">Create Message</button>
    </div>
</form>
</body>
</html>
